
# Created by https://www.gitignore.io/api/go

### Go ###
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.idea/

# End of https://www.gitignore.io/api/go

### Devskiller entries
###
### Please do not add anything below this line, your changes will be overwritten
###
*.iws
*.launch
.externalToolBuilders/
.DS_Store
__MACOSX/
.nb-gradle/
.project
.settings/
atlassian-ide-plugin.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
vendor/
bin/
glide.lock

artifacts
